.about {
  width: 100%;
  height: max-content;
  background: var(--color-bg);
}

.about-header {
  width: 100%;
  padding: 2em 0 10em 0;
  display: flex;
}

.about-col {
  padding: 1em;
}

.about-col:nth-child(1) {
  flex: 2;
}

.about-col:nth-child(2) {
  flex: 4;
}

.about-col h2 {
  width: 85%;
  color: rgba(255, 190, 165, 0.2);
  transition: color 0.3s;
}

.about-col h2:hover {
  color: rgba(255, 190, 165, 0.4);
}

.about-copy {
  width: 50%;
  padding: 1.5em 1em 5em 1em;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .about-copy {
    width: 100%;
  }

  .about-header {
    padding: 5em 0 5em 0;
    flex-direction: column;
  }

  .about-col h2 {
    width: 100%;
    font-size: 48px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .about-copy {
    padding: 0em 1em 10em 1em;
  }
}

@media (max-width: 480px) {
  .about-col h2 {
    font-size: 32px;
    line-height: 110%;
  }

  .about-header {
    padding: 3em 0 3em 0;
  }

  .about-copy {
    padding: 0em 1em 6em 1em;
    font-size: 12px;
  }
}
